# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/*
!dist/.gitkeep
build/*
!build/.gitkeep


*.egg-info/
*.egg
*.whl

# PyInstaller
*.spec

# Virtual environments
.venv/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Testing / Coverage
.pytest_cache/
.coverage
htmlcov/

# Misc
*.log
.env

